  /* Basic styling */
    body {
      font-family: Arial, sans-serif;
        margin: auto;
        width: 30%;
        border: 3px solid black;
        padding: 10px;
        background-image: linear-gradient(to right, red , yellow);
    }

    h1 {
      margin-bottom: 10px;
      display: flex;
     justify-content: center; /* Horizontally center */
     align-items: center; /* Vertically center */
    }

    label {
      display: block;
      margin-bottom: 5px;
      display: flex;
    }

    input[type="text"],
    textarea {
      width: 300px;
      padding: 5px;
      font-size: 14px;
      display: flex;
     justify-content: center; /* Horizontally center */
     align-items: center; /* Vertically center */
     position: relative;
    }

    .centered-button {
      padding: 8px 12px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      position: relative;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust the height as needed */
        
      }